.card-grid,
.row {
    margin-bottom: 50px;
}

.card-title.placeholder {
    width: 100%;
    height: 50px;
    background-color: #e9ecef;
    border-radius: 5px;
}

.card-text.text-primary.placeholder {
    width: 70%;
    height: 20px;
    background-color: #0069d9;
    border-radius: 5px;
}

img {
    max-width: 100%;
}

/* card image */
.card-image {
    height: 250px;
    width: 100%;
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
    border-radius: 5px;
}

.card-image.placeholder {
    background-color: #e9ecef;
}

.card-image img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
}